*{
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}
.navbar{
    height:60px;
    display: flex;
    background-color: #151D28;
    color:white;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height:58px;
    width:110px;

}
.logo{
    margin-left: -100px;
    background-image: url("images/logo.jpg"); 
    height:50px;
    width:100%;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
/**box2**/

.add1{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    margin-top: 5px;
}
.add2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;

}
/**box3**/
.nav-search{
    margin-left: 10px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.search-select{
    margin-left: -1px;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width:50px;
    height:38px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
.search-input{
    width:523px;
    height:35px;
    font-size: 1rem;
    border:none;
}
.search-icon{
    margin-right: -1px;;
    width:45px;
    height:40px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-search:hover{
    border:2px solid orange;
}
/**box4**/
.nav-signin{
   
    justify-content: space-evenly;
    align-items: center;
}
.nav-first{
    font-size: 0.7rem;

}
.nav-second{
    font-size:0.85rem; 
    font-weight: 700;
    
}
.nav-return{
    justify-content: space-evenly;
    
    align-items: center;
}
/**box-6**/
.nav-cart i{
    font-size: 35px;;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
/**panel**/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}
.panel-all{
    font-weight: 700;
    margin-right: 200px;
}
.panel-op p{
    display: inline;
    margin-left: 10px;
}
.panel-op{
    width:70%;
    font-size:0.85rem;
}
.panel-deal{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero sec**/
.hero{
    background-image :url("images/10.jpg");
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 0.85rem; 
    width:80%;
    margin-bottom: 25px;;
}
.hero-message  a{
    margin-left: 4px;
    color:#007185;
}
/**shop sec**/
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f5d9f4;
    /* padding: 20px 40px; */
}
.box1{
    margin-top: 50px;
}
.box2{
    margin-top: 50px;
}
.box3{
    margin-top: 50px;
}
.box4{
    margin-top: 50px;
}

.box{
    border:2px solid black;
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
}
.box-img{
    height: 290px;
    
    background-size: cover;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}
.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
}
h2{
    margin-bottom: 10px;
}
.box-cont p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475A;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;

}
.foot-panel3{
    background-color: #151D28;
    color: white;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url("images/logo.jpg"); 
    height:90px;
    width:120px;
    background-size: cover;
}
.foot-panel4{
    background-color:#151D28;
    color:white;
    height: 80px;

}
.pages{
    font-size:0.8rem;
    text-align: center;
    padding-top: 25px;
}
.copy{
    padding-top: 5px;
    font-size:0.8rem;
    text-align: center;
}